.footer-container {
  display: contents;
}
 
.footer-thq-footer-turnroot-elm {
  width: 100%;
}
 
.footer-thq-footer-container-elm {
  max-width: 100%;
}
 
.footer-thq-footer-brand-elm {
  width: 100%;
}
 

 

 

